# Ignore node_modules
node_modules

# Environment file
.env
.env.local
.env.dev
.env.test
.env.prod
auth-secret.yaml
secrets.yaml

# Migrations
migrations

# Seeders
seeders

# Mac files
.DS_Store

# Logs
logs

# Coverage
coverage

# Vite
dist
